:root
	--primary: #892FC2
	--on-primary: #ffffff
	--primary-container: #F4D9FF
	--on-primary-container: #2F004B
	--secondary: #446900
	--on-secondary: #ffffff
	--secondary-container: #A9F91C
	--on-secondary-container: #111F00
	--error: #BA1A1A
	--on-error: #ffffff
	--error-container: #FFDAD6
	--on-error-container: #410002
	--error: #BA1A1A
	--on-error: #ffffff
	--error-container: #FFDAD6
	--outline: #7A767A
	--outline-variant: #CBC5C9
	--surface-container-lowest: #ffffff
	--surface: #FFF7FC
	--surface-container: #F6EFF3
	--surface-container-highest: #E8E0E5
	--on-surface: rgb(29, 27, 30)
	--on-surface-hovered: rgba(29, 27, 30, 0.08)
	--on-surface-pressed: rgba(29, 27, 30, 0.12)
	--on-surface-focused: rgba(29, 27, 30, 0.12)
	--on-surface-variant: #4b454d
	--on-surface-variant-hovered: rgba(75, 69, 77, 0.08)
	--on-surface-variant-pressed: rgba(75, 69, 77, 0.12)
	--on-surface-variant-focused: rgba(75, 69, 77, 0.12)
	--inverse-surface: #332F33
	--on-inverse-surface: #F6EFF3
	--inverse-surface: #E4B5FF