:root
	--primary: rgb(0, 86, 209)
	--primary-hovered: rgba(0, 86, 209, 0.1)
	--primary-pressed: rgba(0, 86, 209, 0.2)
	--primary-focused: rgba(0, 86, 209, 0.2)
	--on-primary: rgb(255, 255, 255)
	--on-primary-hovered: rgba(255, 255, 255, 0.1)
	--on-primary-pressed: rgba(255, 255, 255, 0.2)
	--on-primary-focused: rgba(255, 255, 255, 0.2)
	--primary-container: #DAE2FF
	--on-primary-container: rgb(0, 24, 71)
	--on-primary-container-hovered: rgba(0, 24, 71, 0.1)
	--on-primary-container-pressed: rgba(0, 24, 71, 0.2)
	--on-primary-container-focused: rgba(0, 24, 71, 0.2)
	--error: rgb(186, 26, 26)
	--error-hovered: rgba(186, 26, 26, 0.1)
	--error-pressed: rgba(186, 26, 26, 0.2)
	--error-focused: rgba(186, 26, 26, 0.2)
	--on-error: #ffffff
	--error-container: #FFDAD6
	--on-error-container: #410002
	--error: #BA1A1A
	--on-error: #ffffff
	--error-container: #FFDAD6
	--outline: #808080
	--outline-variant: #CCCCCC
	--surface-container-lowest: #FFFFFF
	--surface-container-low: #F5F5F5
	--surface-container: #F0F0F0
	--surface-container-high: #EBEBEB
	--surface-container-highest: #E6E6E6
	--on-surface: rgb(26, 26, 26)
	--on-surface-disabled: rgba(26, 26, 26, 0.38)
	--on-surface-hovered: rgba(26, 26, 26, 0.1)
	--on-surface-pressed: rgba(26, 26, 26, 0.2)
	--on-surface-focused: rgba(26, 26, 26, 0.2)
	--on-surface-variant: rgb(77, 77, 77)
	--on-surface-variant-hovered: rgba(77, 77, 77, 0.1)
	--on-surface-variant-pressed: rgba(77, 77, 77, 0.2)
	--on-surface-variant-focused: rgba(77, 77, 77, 0.2)
	--inverse-surface: #333333
	--on-inverse-surface: rgb(242, 242, 242)
	--on-inverse-surface-hovered: rgb(242, 242, 242, 0.1)
	--on-inverse-surface-pressed: rgb(242, 242, 242, 0.2)
	--on-inverse-surface-focused: rgb(242, 242, 242, 0.2)
	--inverse-primary: #B2C5FF
	--scrim: rgba(0, 0, 0, 0.5)

	--own-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1)
	--elevation-lowest: 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.1)
	--elevation-low: 0 2px 4px rgba(0, 0, 0, 0.25), var(--own-shadow)
	--elevation-medium: 0 2px 8px rgba(0, 0, 0, 0.25), var(--own-shadow)
	--elevation-high: 0 2px 12px rgba(0, 0, 0, 0.25), var(--own-shadow)

	--nav-drawer-width: 320px
	--side-sheet-width: 320px
	--nav-bar-heigth: 80px
	--small-nav-bar-heigth: 64px
	--nav-rail-width: 80px
	--search-height: 80px
	--top-app-bar-height: 64px
	--content-max-width: 1400px

	--layout-z-index: 1
	--nav-drawer-z-index: 10
	--nav-bar-z-index: 5
	--top-app-bar-z-index: 5
	--nav-rail-z-index: 5
	--launch-screen-z-index: 5
	--snackbar-z-index: 6