@use '../../../styles/variables' as v
	
.container
	z-index: var(--launch-screen-z-index)
	position: fixed
	display: flex
	justify-content: center
	align-items: center
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(255, 255, 255, 0.8)
	animation: appear 0.3s ease-out

	.spinner
		border-left: 4px solid var(--primary)
		border-bottom: 4px solid var(--primary)
		border-right: 4px solid var(--primary)
		border-top: 4px solid transparent
		border-radius: 50%
		animation: spin 0.5s linear infinite
		width: 48px
		height: 48px

	@media (min-width: v.$desktop-min-width)
		left: var(--nav-rail-width)

	@media (min-width: v.$tablet-min-width) and (max-width: v.$tablet-max-width)
		left: var(--nav-rail-width)

	@media (min-width: v.$mobile-min-width) and (max-width: v.$mobile-max-width)
		bottom: var(--nav-bar-heigth)
		top: var(--top-app-bar-height)

	@media (max-width: v.$small-max-width)
		bottom: var(--small-nav-bar-heigth)
		top: var(--top-app-bar-height)

@keyframes appear
	0% 
		opacity: 0
		
	100%
		opacity: 1

@keyframes spin
	0% 
		transform: rotate(0deg)
		
	100%
		transform: rotate(360deg)