.text
	font-size: 24px
	font-weight: 600

.link
	color: var(--color-link)

.status
	font-size: 96px
	font-weight: 400
	filter: drop-shadow(2px 4px 2px rgba(0,	0, 0, 0.25))
	line-height: 1

.logo
	color: var(--color-dark)
	width: 96px
	height: 96px
	filter: drop-shadow(2px 4px 2px rgba(0,	0, 0, 0.25))

.container
	display: flex
	flex-flow: column
	align-items: center
	gap: 32px

.message
	font-size: 24px

.group
	display: flex
	align-items: center

	&.column
		flex-flow: column
		gap: 8px

	&.row
		flex-flow: row